#burger{
    width: 90px;
    position: absolute;
    left: 10px;
    top: 180px;
    text-align: justify;
    margin: auto;
}
@media all and (max-width: 1024px)
{
    #burger{
        width: 90px;
        position: absolute;
        left: 80px;
        top: 100px;
        text-align: justify;
        margin: auto;
    }
}

@media all and (max-width: 980px)
{
    #burger{
        width: 90px;
        position: absolute;
        left: 80px;
        top: 100px;
        text-align: justify;
        margin: auto;
    }
}